body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    background-color: #2e2e2e;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

.btn-custom {
    background-color: #777777;
    color: #fff;
    border: none;
}

.btn-custom:hover {
    background-color: #4b4b4b;
    color: #fff;
}

.profile {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;

}
.username {
    margin-left: 10px;
    color: #fff;
    font-size: 16px;
}

.profile-pic {
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.profile-menu {
    width: 165px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #474747;
    border: 1px solid #333;
    border-radius: 15px;
    overflow: hidden;
}

.profile:hover .profile-menu {
    display: flex;
}

.profile-menu button {
    padding: 10px;
    background: none;
    border: none;
    color: #fff;
    text-align: left;
    cursor: pointer;
}

.profile-menu button:hover {
    background-color: #383838;
}

.contact-pic {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.contact-info {
    flex: 1;
}

.last-message {
    font-size: 12px;
    color: #ccc;
}

.chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/chat_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.message.own {
    justify-content: flex-end;
}

.message-pic {
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message.own .message-pic {
    margin-left: 10px;
    margin-right: 0;
}

.message-text {
    background-color: #474747;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
}

.message.own .message-text {
    background-color: #737373;
}

.message-input {
    padding: 10px;
    background-color: #333;
}

.chat-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-body {
    display: flex;
    flex: 1;
}

input[type="file"] {
    display: none;
}

.sender {
    color: honeydew;
}

.message_text{
    color: white;
}

.send_time {
    color: white;
    font-size: 11px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar {
    width: 400px;
    background-color: #3a3a3a;
    color: #fff;
    overflow-y: auto;
}

.sidebar .sidebar-header {
    position: relative;
    padding: 10px 10px;
    height: 150px;
    background-color: #2C2C2C;
}

.sidebar-title {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.new-chat-button {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.new-chat-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    transform: scale(1.1);
}

.new-chat-button:hover img {
    filter: brightness(1.2);
}

.new-chat-button img {
    width: 40px;
    height: 35px;
}

.nav-tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #3a3a3a;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
}

.nav-tabs .nav-link {
    color: #ccc;
    padding: 10px 0;
    text-align: center;
    position: relative;
    background-color: transparent;
    flex: 1;
    transition: background-color 0.3s ease;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #3a3a3a;
    border-color: #3a3a3a;
    width: 100px;
}

.chat-list .contact-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-list .contact-info .username {
    color: #fff;
    font-weight: bold;
}

.chat-list .contact-info .last-message {
    color: #ccc;
    font-size: 0.9em;
}

.sidebar .mb-3 {
    position: relative;
    top: 40px;
}

.chat-window.welcome-mode {
    background-color: #2c2c2c;
    color: #fff;
}

.welcome-message {
    text-align: center;
    margin: auto;
    padding: 20px;
    color: #fff;
}

.welcome-message h1{
    font-size: 60px;
}

.welcome-message p{
    font-size: 20px;
}

.logo {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

body.modal-open {
    pointer-events: none;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;

}

.menu-content {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 15px;
    width: 320px;
    color: white;
}

.menu-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.menu-search .form-control {
    background-color: #fdfdfd;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.menu-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background: transparent;
    border: 1px solid #474747;
    border-radius: 10px;
    color: white;
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-list {
    margin-top: 15px;
    color: white;
    text-align: left;
}

.close-menu {
    margin-top: 20px;
    width: 100%;
}
