.chat-message {
    align-items: flex-start;
    margin-bottom: 10px;
    max-width: 70%;
    border-radius: 10px;
    overflow-x: hidden;
    position: relative;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.username {
  font-weight: bold;
}

.timestamp {
  color: #888;
  font-size: 0.8em;
  position: absolute;
  bottom: 10px;
  right: calc(100% - 420px);
}

.message-text {
    margin: 0;
}

.chat-message.other {
    align-self: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.chat-message.mine {
    align-self: flex-end;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.message-content {
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    min-width: 50px;
    max-width: calc(100% - 50px);
    flex-direction: column;
    color: white;
    position: relative;
    display: flex;
}
.message-file{
  padding: 5px;
  border-radius: 8px;
}
img, video{
  max-width: 80%;
  height: auto;
  display: block;
}