footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1e1e1e;
    width: 100%;
    color: #fff;
    flex-shrink: 0;
    position: relative;
    padding: 3px 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 0;
}

.footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.footer-section p {
    margin: 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-section h3 {
    margin: 0;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.footer-section img {
    width: 14px;
    height: 14px;
}

.footer-bottom {
    text-align: center;
    font-size: 12px;
    color: #fff;
    width: 100%;
    margin-top: 10px;
    padding: 5px 0;
}
