header {
    margin: 0;
    width: 100%;
    background-color: #474747;
    display: flex;
    text-align: left;
    height: 50px;
    padding: 0 10px;
    vertical-align: middle;
    line-height: 50px;
}

.logo-container {
    display: flex;
    align-items: stretch;
}

header img {
    height: 100%;
    width: auto;
}

.logo-text {
    font-family: cursive;
    font-size: 30px;
    color: #202020;
    margin-left: 5px;

}
