body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #2e2e2e;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

header {
    margin: 0;
    width: 100%;
    background-color: #474747;
    display: flex;
    text-align: left;
    height: 30px;
    padding: 0 10px;

}

.logo-container {
    display: flex;
    align-items: center;
}

header img {
    height: 100%;
    width: auto;
}

.logo-text {
    font-family: cursive;
    font-size: 22px;
    color: #202020;
    margin-left: 5px;
}

.login-form {
    margin: 74px auto;
    background-color: #474747;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #fff;
}

.login-form input {
    width: calc(100% + 10px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
}

.login-form input::placeholder {
    color: #ccc;
}

#forgot-password {
    display: block;
    margin: 10px 0;
    color: #ccc;
    text-decoration: none;
      cursor: pointer;
}

#forgot-password:hover {
    text-decoration: underline;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button[type="button"] {
    background-color: #383838;
    color: #fff;
}

.buttons button[type="submit"] {
    background-color: #737373;
    color: #fff;
}

.buttons button:hover {
    opacity: 0.8;
}

.registration-form {
    margin: 65px auto;
    background-color: #474747;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 500px;
    text-align: center;
}

.registration-form h2 {
    margin-bottom: 20px;
    color: #fff;
}

.registration-form input {
    width: calc(100% + 10px);
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
}

.registration-form input::placeholder {
    color: #ccc;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button[type="button"] {
    background-color: #383838;
    color: #fff;
}

.buttons button[type="submit"] {
    background-color: #737373;
    color: #fff;
}

.buttons button:hover {
    opacity: 0.8;
}

.password-reset-form {
  background-color: #474747;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 495px;
  text-align: center;
  margin: 66px auto;
  color: #ffffff;
}

.password-reset-form h2 {
  margin-bottom: 20px;
}

.password-reset-form p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #d1d1d1;
}

.password-reset-form input[type="email"] {
    width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #444;
    background: #555;
}
.password-reset-form input::placeholder {
    color: #ccc;
}

.password-reset-form .buttons {
  display: flex;
  justify-content: space-between;
}

.password-reset-form .back-button,
.password-reset-form .submit-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.password-reset-form .back-button:hover,
.password-reset-form .submit-button:hover {
  background-color: #555;
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #1e1e1e;
    width: 1536px;
    height: auto;
    color: #fff;
    padding: 20px 0;
    flex-shrink: 0;
}

.footer-section {
    text-align: center;
    flex: 1;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section img {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us h1 {
    margin-bottom: 10px;
}

.contact-us h3 {
    margin-top: 0;
}
